
@model UserLoginView
@{
    ViewBag.Title = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
    <style>
        body {
            background-color: #00a8db;
        }

        #title {
            margin-bottom: 15px;
            font-size: 3rem;
        }

        #newacc {
            font-size: 1.5rem;
            text-decoration:none;
        }
       
    </style>

</head>
<body>
    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                 <div class="login-form-title" id="title">Welcome</div>
                @using (Html.BeginForm("LoginUser", "UserAccount", FormMethod.Post))
                {
                    <div class="wrap-input">
                        <div> @Html.TextBoxFor(a => a.Email, new { placeholder = "Username", @class = "input-container", required = "required" })</div>
                    </div>

                    <div class="wrap-input">
                        @Html.PasswordFor(a => a.Password, new { placeholder = "Password", @class = "input-container", rquired = "required" })
                    </div>
                    <div>
                        <div class="container-login-form-btn">
                            
                                <button class="login-form-btn">
                                    Login
                                </button>
                          
                        </div>
                    </div>

                }
                <div class="login-form-title" id="newacc" > @Html.ActionLink("Don't have an account? Create one", "SignUp", "UserAccount")</div>
        </div>
    </div>
</body>